.customSearchInputMainDiv {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  padding: 0 20px;
}

.customSearchInput {
  border: none;
}

.customSearchInput::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  color: #adb8cc;
}
