.dashboardMainDiv {
  display: flex;
  flex-direction: column;
}

.dashboardInfo {
  display: flex;
  flex-direction: row;
}
.customCardTileMainDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
