.learnLanguageCreateScreenMainDiv {
  justify-content: space-between;
  align-items: start;
}

.learningLanguageScreenMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 60px 82px 30px 82px;
}

.learningLanguageScreenLoadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnLanguageUpdateScreenMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 47px 94px 47px 94px;
}

.learningLanguageUpdateFormDiv {
  width: 50%;
}

.learningLanguageScreenAddNewDiv {
  margin-bottom: 28px;
}

.learningLanguageCardItems {
  display: flex;
  flex-wrap: wrap;
}

.learningLanguageScreenPaginationDiv {
  display: flex;
  justify-content: center;
}

.learnLanguageSelectedLanguages {
  width: 44%;
}

@media screen and (max-width: 1440px) {
  .learnLanguageUpdateScreenMainDiv {
    padding: 60px 40px 30px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .learnLanguageUpdateScreenMainDiv {
    padding: 60px 20px 30px 20px;
  }
  .learningLanguageScreenSubDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .learningLanguageCardItems {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .learningLanguageScreenMainDiv {
    padding: 60px 40px 30px 40px;
  }
  .learningLanguageScreenSubDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .learningLanguageCardItems {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .learnLanguageUpdateScreenMainDiv {
    display: flex;
    /* flex-direction: column !important; */
    flex-flow: column-reverse !important;
    align-items: center;
    padding: 60px 10px 30px 10px;
  }
  .learningLanguageUpdateFormDiv {
    width: 80%;
  }
  .learnLanguageSelectedLanguages {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .selectLanguageMainDiv {
    width: 100%;
    margin-bottom: 20px;
  }
}
