@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.screensMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 60px 82px 30px 82px;
}

.titleStyle {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

.authScreenMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 47px 94px 47px 94px;
}

.authScreenSubDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 68px;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 0px #00000040;
  box-shadow: 1px 29px 20px 0px #f8f8f8;
}

.screensTitleStyle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding: 17px 0;
}

.select-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.createScreenRowInputs {
  width: 420px;
  justify-content: space-between;
}

.errorMessage {
  color: red;
}

/* .loadingDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: purpe;
} */
