.ant-btn {
  width: 100%;
  max-width: 420px !important;
  padding: 15px 0 !important;
  height: auto !important;
  border-radius: 10px !important;
}
.loadingDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleButton{
  margin-left: 15px;
}