.ant-pagination-options {
  display: none !important;
}

.ant-pagination-item-active {
  color: white !important;
  background-color: #8833ff !important;
  border: none !important;
}
.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination .ant-pagination-item {
  border: 1px solid #f1f1f1;
}
