.wordsScreenMainDiv {
  padding: 60px 70px 30px 70px;
}

.wordsScreenTable {
  min-height: 360px;
}

.wordsScreenAddFields {
  display: flex;
}

.wordsScreenTitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: "#000000";
}

.wordScreenSelectsDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  line-height: 75px;
}

.wordsSearchInput {
  min-height: 60px;
}

.wordsPagination {
  display: flex;
  justify-content: center;
}

.wordsCreateScreen {
  display: flex;
  flex-direction: row;
}

.wordsCreateAddWords {
  width: 45%;
  height: 100%;
}

.wordsCreateForm {
  width: 100%;
  height: 90%;
}

.wordsCreateTranslate {
  border: 1px solid purple;
  width: 45%;
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  .wordScreenSelectsDiv {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .wordScreenSelectsDiv {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .wordsScreenMainDiv {
    display: flex;
    align-items: center;
  }
  .wordsScreenAddFields {
    flex-direction: column;
  }
  .column-id,
  .column-email,
  .column-device-id {
    display: none;
  }
}
