table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid #dddddd;
  line-height: 30px;
  border-radius: 15px;
}

.myCustomHeader {
  border: none !important;
}

td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}

tr:nth-child(n) {
  /* border: none; */
  box-shadow: none;
}
