.selectLanguageTitle {
  margin-bottom: 20px;
}

.selectLanguageMainDiv .ant-select {
  width: 100% !important;
}

.selectLanguageValuesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectLanguageValuesDivItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  min-width: 199px;
  height: 60px;
  margin-top: 13px;
  border-radius: 10px;
  margin-right: 9px;
}

.deleteIcon {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-weight: 600;
}
