@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.feedbackTitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
