.appHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px 0 60px 0;
}

.customHeaderApp {
  padding: 0 60px 45px 60px;
}

.headertitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #6b7a99;
  margin-left: 30px;
}

.headerFirstPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerSecondPart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerIconFirst {
  cursor: pointer;
}

.headerIcon {
  margin-left: 30px;
  cursor: pointer;
}

.ant-badge .ant-badge-count {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  transform-origin: 100% 0%;
  transform: translate(10%, -2%);
  background: #8833ff;
}
.logOutIcon {
  width: 18px;
  height: 18px;
}

.bellIcon {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 425px) {
  .headertitle {
    font-family: Roboto;
    font-size: 12px;
  }

  .headerIcon {
    margin-left: 15px;
    cursor: pointer;
  }

  .customHeaderApp {
    padding: 0 15px 45px 15px;
  }
}
