.sideBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 15px 17px 15px;
  background-color: #f7f8fa;
  width: 280px;
  margin-bottom: 13px;
  border-radius: 15px;
  cursor: pointer;
}

.sideBarItemTitle {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  margin-left: 23px;
}



.css-3dcfwk-MuiBarElement-root,
.css-1qdzy9k-MuiBarElement-root,
.css-adnr9q-MuiBarElement-root {
  fill: #edf0f7 !important;
}
.css-1k2u9zb-MuiChartsAxis-root {
  display: none;
}
@media screen and (max-width: 768px) {
  .sideBarItem {
    width: 250px;
  }
  .sideBarItemTitle {
   word-break: break-all;
  }

}

