@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@300&family=Roboto:wght@500&display=swap");

.notificationScreenInputField {
  width: 100%;
}

.notificationScreenInput::placeholder {
  padding-left: 20px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-align: left;
}
